.blog-page{
display: block;
}


#girl-img{
    width: 100%;
    height: 800px;
    filter: brightness(0.7);
    }
.main-page h1{
    position: relative;
    text-align: center;
    margin-top: -500px;
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 90px;
    }
    
.main-page p{
color: white;
font-size: 90px;
    }

.blog-title  {
margin-top: 300px;
}
.blog-title p{
    text-align: center;
    /* margin-top: 50px; */   font-size: 60px;
}

hr{
margin-top: 100px;
width: 50%;
color: rgb(241, 18, 18);
    }

.reflection-page{
    display: flex;
    }   

.text-reflection{
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    margin-top: 460px;
    width: 60%;
    height: 260px;
    margin-left: -820px;
    background-color: white;
    box-shadow: 2px 0px 10px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 200;
    text-align: center;
}
.reflection-page p{
    font-size: 30px;
    margin-top: 50px;
}
#book-image{
width: 500px;
height: 500px;
margin-left: 180px;
border-radius: 15px;
margin-top: 80px;
}
#reflection-title{
margin-left: 300px;
text-align: center;
margin-top: 200px;
font-size: 60px;
color: red;
font-weight: bolder;

}
h2{
text-align: center;
color: red;
font-size: 70px;
margin-top: 400px;
}
.detail-reflection {
p{
    text-align: center;
    font-size: 30px;

}
}
.individual-reflections{
display: flex;
align-items: center;
gap: 8%;
}
.reflection-1{
    font-size: 20px;
    margin-left: 350px;

    border-style: solid;
    border-color: white;
    border-radius: 15px;
    text-align: left;
    width: 40%;
    height: 700px;
   font-size: 25px;
    background-color: white;
    box-shadow: 2px 0px 10px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 200;
    margin-top: 100px;

}
#thinking-img{
    margin-top: 100px;
    width: 490px;
    height: 450px;
    border-radius: 20px;
}
@media (max-width: 992px) {
    .blog-page{
        display: block;
        }
        
        
        #girl-img{
            width: 100%;
            height: 800px;
            filter: brightness(0.7);
            }
        .main-page h1{
            position: relative;
            text-align: center;
            margin-top: -500px;
            margin-left: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
            font-size: 90px;
            }
            
        .main-page p{
        color: white;
        font-size: 90px;
            }
        
        .blog-title  {
        margin-top: 300px;
        }
        .blog-title p{
            text-align: center;
            /* margin-top: 50px; */   font-size: 60px;
        }
        
        hr{
        margin-top: 100px;
        width: 50%;
        color: rgb(241, 18, 18);
            }
        
        .reflection-page{
            display: flex;
            }   
        
        .text-reflection{
            border-style: solid;
            border-color: white;
            border-radius: 15px;
            margin-top: 460px;
            width: 60%;
            height: 260px;
            margin-left: -820px;
            background-color: white;
            box-shadow: 2px 0px 10px;
            font-family: "Times New Roman", Times, serif;
            font-weight: 200;
            text-align: center;
        }
        .reflection-page p{
            font-size: 30px;
            margin-top: 50px;
        }
        #book-image{
        width: 500px;
        height: 500px;
        margin-left: 180px;
        border-radius: 15px;
        margin-top: 80px;
        }
        #reflection-title{
        margin-left: 300px;
        text-align: center;
        margin-top: 200px;
        font-size: 60px;
        color: red;
        font-weight: bolder;
        
        }
        h2{
        text-align: center;
        color: red;
        font-size: 70px;
        margin-top: 400px;
        }
        .detail-reflection {
        p{
            text-align: center;
            font-size: 30px;
        
        }
        }
        .individual-reflections{
        display: flex;
        align-items: center;
        gap: 8%;
        }
        .reflection-1{
            font-size: 20px;
            margin-left: 350px;
            border-style: solid;
            border-color: white;
            border-radius: 15px;
            text-align: left;
            width: 40%;
            height: 700px;
            font-size: 25px;
            background-color: white;
            box-shadow: 2px 0px 10px;
            font-family: "Times New Roman", Times, serif;
            font-weight: 200;
            margin-top: 100px;
        
        }
        #thinking-img{
            margin-top: 100px;
            width: 490px;
            height: 450px;
            border-radius: 20px;
        }  
}
